.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-container {
  position: absolute;
  top: 60px;          /* Ajusta la distancia desde la parte superior de la pantalla */
  left: 50%;
  transform: translateX(-50%); /* Centra horizontalmente */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container1 {
  position: absolute;
  top: 60px;          /* Ajusta la distancia desde la parte superior de la pantalla */
  left: 50%;
  transform: translateX(-50%); /* Centra horizontalmente */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 250px;       /* Ajusta el tamaño del logo */
  height: auto;
}

.title {
  margin-top: -20px;  /* Espacio entre el logo y el título */
  font-size: 50px;   /* Ajusta el tamaño del texto */
  color: #ffffff;       /* Cambia el color del texto */
}
.subtitle {
  color: #ffffff;;
  font-size: 60px; /* Ajusta el tamaño según prefieras */
  font-weight: 400;  /* Puedes cambiar el peso de la fuente */
  margin-top: -70px;  /* Ajusta el margen para separar del título */
}

.boton-home {
  position: absolute;
  top: 20px;     /* Ajusta la distancia desde la parte superior */
  left: 0px;     /* Cambia a 0 para alinear completamente a la izquierda */
  /* O usa un valor negativo para moverlo aún más a la izquierda */
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.boton-home-image {
  width: 500px;  /* Ajusta el ancho de la imagen */
  height: 500px; /* Ajusta la altura de la imagen */
  margin-bottom: 5px; /* Espacio entre la imagen y el título */
}

.boton-home-title {
  font-size: 140px;  /* Tamaño del texto */
  color: #fff;     /* Cambia el color según tu diseño */
}



.rut-input {
  width: 1130px;
  height: 500px;
  max-width: 3000px;
  padding: 10px;
  font-size: 10rem;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.boton-flecha:hover {
  background-color: #030;
}

.boton-flecha span {
  margin-right: 8px;
}

.boton-back {
  display: inline-flex;
  margin-left: 1500px;
  margin-top: -400px;
  padding: 10px 20px;
  font-size: 10rem; /* Ajusta el tamaño para que se adapte mejor */
  color: white;
  background-color: #2A1;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-home {
  width: 500px;
  height: 500px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
}

